@import url(https://fonts.googleapis.com/css?family=Pacifico);

/*
  0 Themes and Rhythm Overrides
*/

html[data-theme="dark"] {
  --cs-color-primary: #ea4c6b;
  --cs-color-primary-dark: #bb3c55;

  --cs-color-link: #4c6bea;
  --cs-color-link-visited: #7c4cea;
  --cs-color-link-hover: #3c55bb;
  --cs-color-link-active: #bb3c55;

  --cs-color-black: #fff;

  --cs-color-gray1: #efeff0;
  --cs-color-gray2: #dededf;
  --cs-color-gray3: #cdcdce;
  --cs-color-gray4: #7d7d7e;
  --cs-color-gray5: #5a5a5b;
  --cs-color-gray6: #3c3c3d;

  --cs-color-white: #000;
}

html[data-rhythm="small"] * {
  --cs-rhythm: 1.5rem;
}

html[data-rhythm="large"] * {
  --cs-rhythm: 2.5rem;
}

.hide-gridlines {
  background-image: none !important;
}

/*
  0.0 Head CSS Cacheables
*/

html {
  --breakpoint: 900px;
  --gutter-width: var(--cs-rhythm);
  --border-radius: var(--cs-rhythm-half);
}

body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  margin-top: var(--cs-rhythm);
}

header {
  text-align: center;
  margin: var(--cs-rhythm-half) var(--cs-rhythm-half) var(--cs-rhythm);
}

main {
  margin: 0 var(--cs-rhythm-half);
}

footer {
  padding: var(--cs-rhythm) var(--cs-rhythm-half);
}

.site-nav {
  border-top: 1px solid var(--gray5);
  border-bottom: 1px solid var(--gray5);
  display: inline-block;
  max-width: 100%;
}

@media screen and (min-width: 45rem){
  .site-nav {
    padding: 0 var(--cs-rhythm-double);
  }
}

.nav-item-wrapper {
  display: inline-block;
}

.nav-item {
  display: inline-block;
  padding: var(--cs-rhythm-half) var(--cs-rhythm);
}

/*
  1. General
*/

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

.sidebar a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

/*
  1.1 Page Styles
*/

.page-header{
  padding: var(--cs-rhythm-double) 0;
  text-align: center;
}

.page-header h1 {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 0;
}

@media (min-width: 55rem) {
  .page-header h1 {
    font-size: 9.6rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 11rem;
  }  
}

.page-meta {
  color: var(--gray3);
}

.page-navigation {
  display: grid;
  column-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--cs-rhythm);
}

.page-previous {
  text-align: right;
}

/*
  2: Layout
*/

body {
  margin: auto;
  max-width: initial;
}

footer {
  display: grid;
  column-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--gray6);
}

/*
  2.1: Header
*/

.site-title:link,
.site-title:visited,
.site-title:hover,
.site-title:focus,
.site-title:active {
  color: var(--gray1);
  font-family: monospace;
  text-decoration: none;
}

.logo {
  color: var(--cs-color-primary);
  font-family: 'Pacifico', 'Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
  font-weight: normal;
}


/*
  2.1.1: Toolbar
*/

body {
  padding-top: var(--cs-rhythm-double)
}

.toolbar {
  background-color: var(--cs-color-white);
  border-bottom: 1px solid var(--cs-color-gray4);
  padding: var(--cs-rhythm-fourth);
  position: fixed;
  left: 0;
  right: 0;
  text-align: right;
  top: 0;
}

.toolbar,
.toolbar * {
  --cs-rhythm: 1.5rem;
}

.toolbar-label {
  font-size: var(--cs-font-size);
  padding-left: var(--cs-rhythm);
}

.toolbar-button {
  border: 1px solid var(--cs-color-gray4);
  background-color: var(--cs-color-gray6);
  border-radius: 2px;
  color: var(--cs-color-gray1);
  cursor: pointer;
  display: inline-block;
  padding: var(--cs-rhythm-eighth) var(--cs-rhythm-half);
  transition: all 200ms ease-in-out;
  vertical-align: middle;
}

.toolbar-button:hover,
.toolbar-button:focus {
  background-color: var(--cs-color-gray5);
}

.toolbar-button.-small {
  --cs-line-height-ratio: 2;
  font-size: var(--cs-font-size);
}

.toolbar-button.-large {
  --cs-line-height-ratio: 1;
  font-size: var(--cs-font-size);
}

.toolbar-button.-light {
  background-color: var(--cs-color-white);
  color: var(--cs-color-gray2);
}

.toolbar-button.-dark {
  background-color: var(--cs-color-gray2);
  color: var(--cs-color-white);
}

html[data-theme="dark"] .toolbar-button.-light {
  background-color: var(--cs-color-gray2);
  color: var(--cs-color-white);
}

html[data-theme="dark"] .toolbar-button.-dark {
  background-color: var(--cs-color-white);
  color: var(--cs-color-gray2);
}

html[data-rhythm="small"] .toolbar-button.-small,
html[data-rhythm="normal"] .toolbar-button.-normal,
html[data-rhythm="large"] .toolbar-button.-large,
html[data-theme="light"] .toolbar-button.-light,
html[data-theme="dark"] .toolbar-button.-dark {
  cursor: normal;
  opacity: .5;
  pointer-events: none;
}

.toolbar-button.-grid {
  text-decoration: none;
}

.hide-gridlines .toolbar-button.-grid {
  text-decoration: underline overline;
}

/*
  2.2 Sidebar
*/

.sidebar h4 {
  color: var(--gray3);
  text-transform: uppercase;
  padding: 0 0 var(--cs-rhythm-half);
}

.sidebar ul {
  list-style-type: none;
  padding-bottom: var(--cs-rhythm-half);
  margin-left: 0;
}

@media (min-width: 55rem) {
  .sidebar h4 {
    font-size: var(--font-size);
  }
}

.sidebar a {
  display: inline-block;
  margin-bottom: var(--cs-rhythm-half);
}

/*
  2.3: Homepage Layout
*/

.layout-homepage {
  display: grid;
  grid-template-areas: "promoted promoted recent"
                       "featured basics categories";
  grid-template-columns: 1fr 1fr 1fr;
}

.area-promoted {
  grid-area: promoted;
}

.area-recent {
  grid-area: recent;
}

.area-featured {
  grid-area: featured;
}

.area-basics {
  grid-area: basics;
}

.area-categories {
  grid-area: categories;
}

/*
  2.4: Two Column Layout
*/

.layout-two-column {
  display: grid;
  grid-template-areas:  "title"
                        "main"
                        "sidebar";
  max-width: 85rem;
  margin: 0 auto;
}

@media (min-width: 55rem) {
  .layout-two-column {
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(20rem, auto) minmax(60vw, 65rem);
    column-gap: var(--gutter-width);
    row-gap: var(--gutter-width);
  }
}

.area-sidebar {
  grid-area: sidebar;
  padding: var(--cs-rhythm) 0 var(--cs-rhythm-double);
}

@media (min-width: 55rem) {
  .area-sidebar {
    text-align: right;
    border-right: 1px solid var(--gray5);
    padding-right: var(--gutter-width);
  }
}

.area-main {
  grid-area: main;
  width: 100%;
  max-width: 65rem;
  padding-top: var(--cs-rhythm);
  padding-bottom: var(--cs-rhythm-double);
}

/*
  3: Post Lists
*/  

.snippet {
  margin-bottom: var(--cs-rhythm);
  position: relative;
}

.snippet:last-child {
  margin-bottom: 0;
}

.snippet::after {
  border-bottom: 1px solid var(--gray5);
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(-1 * var(--gutter-width));
  right: 0;
}

.snippet:last-child::after {
  content: none;
}

/*
  4: Posts
*/

.post {
  margin-bottom: var(--cs-rhythm-double);
}