@import url(https://fonts.googleapis.com/css?family=Pacifico);

/*
  0 Themes and Rhythm Overrides
*/

html[data-theme="dark"] {
  --cs-color-primary: #ea4c6b;
  --cs-color-primary-dark: #bb3c55;

  --cs-color-link: #4c6bea;
  --cs-color-link-visited: #7c4cea;
  --cs-color-link-hover: #3c55bb;
  --cs-color-link-active: #bb3c55;

  --cs-color-black: #fff;

  --cs-color-gray1: #efeff0;
  --cs-color-gray2: #dededf;
  --cs-color-gray3: #cdcdce;
  --cs-color-gray4: #7d7d7e;
  --cs-color-gray5: #5a5a5b;
  --cs-color-gray6: #3c3c3d;

  --cs-color-white: #000;
}

[data-rhythm="small"] * {
  --cs-rhythm: 1.5rem;
}

[data-rhythm="large"] * {
  --cs-rhythm: 2.5rem;
}

.hide-gridlines {
  background-image: none !important;
}

/*
  0.0 Head CSS Cacheables
*/

html {
  --breakpoint: 900px;
  --gutter-width: var(--cs-rhythm);
  --border-radius: var(--cs-rhythm-half);
}

body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  margin-top: var(--cs-rhythm);
}

main {
  margin: 0 var(--cs-rhythm-half);
}

footer {
  padding: var(--cs-rhythm) var(--cs-rhythm-half);
}

.site-nav {
  --cs-grid-column-min: 7rem;

  grid-gap: 0;
  max-width: 100%;
}

@media screen and (min-width: 45rem){
  .site-nav {
    padding: 0 var(--cs-rhythm-double);
  }
}

.nav-item-wrapper {
    border-bottom: 1px solid var(--cs-color-gray5);
    margin-bottom: -1px;
    text-align: center;
}

.nav-item {
  display: inline-block;
  padding: var(--cs-rhythm-half) var(--cs-rhythm);
}

/*
  1. General
*/

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

.sidebar a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

/*
  1.1 Page Styles
*/

.page-header{
  padding: var(--cs-rhythm) 0;
  text-align: center;
}

.page-header h1 {
  font-weight: 100;
  letter-spacing: 2px;
}

@media (min-width: 55rem) {
  .page-header h1 {
    letter-spacing: 0;
  }  
}

.page-meta {
  color: var(--gray3);
}

.page-navigation {
  display: grid;
  column-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--cs-rhythm);
}

.page-previous {
  text-align: right;
}

/*
  2: Layout
*/

body {
  margin: auto;
  max-width: initial;
}

footer {
  display: grid;
  column-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--gray6);
}

/*
  2.1: Header
*/

.site-title:link,
.site-title:visited,
.site-title:hover,
.site-title:focus,
.site-title:active {
  color: var(--gray1);
  font-family: monospace;
  text-decoration: none;
}

.logo {
  color: var(--cs-color-primary);
  font-family: 'Pacifico', 'Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
  font-weight: normal;
}

.logo:link,
.logo:visited,
.logo:active {
    color: var(--cs-color-primary);
}
.logo:hover,
.logo:focus {
    color: var(--cs-color-primary-dark);
}

@media (max-width: 30em) {
    .logo.-hide-small {
        display: none;
    }
}

.logo.-show-small {
    display: none;
}

@media (max-width: 30em) {
    .logo.-show-small {
        display: inline;
    }
}



/*
  2.1.1: Toolbar
*/

html {
  margin-top: 3.5rem;
}

.toolbar {
  background-color: var(--cs-color-white);
  border-bottom: 1px solid var(--cs-color-gray4);
  font-size: var(--cs-font-size);
  line-height: var(--cs-line-height);
  padding: var(--cs-rhythm-half) var(--cs-rhythm);
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.toolbar,
.toolbar * {
  --cs-rhythm: 1.5rem;
}

.toolbar-logo {
  --cs-sub-rhythm: 2rem;

  float: left;
  font-size: var(--cs-font-size);
  line-height: var(--cs-line-height);
  margin: 0;
}

.toolbar-controls {
    float: right;
    text-align: right;
}

.toolbar-label {
    display: none;
    padding-left: var(--cs-rhythm-half);
}

@media (min-width: 55rem) {
    .toolbar-label {
      display: inline-block;
    }
}

.toolbar-label + .toolbar-button {
    margin-left: var(--cs-rhythm-half);
}

.toolbar-button {
  border: 1px solid var(--cs-color-gray4);
  background-color: var(--cs-color-gray6);
  border-radius: 2px;
  color: var(--cs-color-gray1);
  cursor: pointer;
  display: inline-block;
  padding: var(--cs-rhythm-eighth) var(--cs-rhythm-half);
  vertical-align: middle;
}

.toolbar-button:hover,
.toolbar-button:focus {
  background-color: var(--cs-color-gray5);
}

.toolbar-button.-small {
  --cs-line-height-ratio: 2;
  font-size: var(--cs-font-size);
}

.toolbar-button.-large {
  --cs-line-height-ratio: 1;
  font-size: var(--cs-font-size);
}

.toolbar-button.-light {
  background-color: var(--cs-color-white);
  color: var(--cs-color-gray2);
}

.toolbar-button.-dark {
  background-color: var(--cs-color-gray2);
  color: var(--cs-color-white);
}

[data-theme="dark"] .toolbar-button.-light {
  background-color: var(--cs-color-gray2);
  color: var(--cs-color-white);
}

[data-theme="dark"] .toolbar-button.-dark {
  background-color: var(--cs-color-white);
  color: var(--cs-color-gray2);
}

[data-rhythm="small"] .toolbar-button.-small,
[data-rhythm="normal"] .toolbar-button.-normal,
[data-rhythm="large"] .toolbar-button.-large,
[data-theme="light"] .toolbar-button.-light,
[data-theme="dark"] .toolbar-button.-dark {
  cursor: normal;
  opacity: .5;
  pointer-events: none;
}

.toolbar-button.-grid {
  text-decoration: none;
}

.hide-gridlines .toolbar-button.-grid {
  text-decoration: underline overline;
}

/*
  2.2 Sidebar
*/

.sidebar h4 {
  color: var(--gray3);
  text-transform: uppercase;
  padding: 0 0 var(--cs-rhythm-half);
}

.sidebar ul {
  list-style-type: none;
  padding-bottom: var(--cs-rhythm-half);
  margin-left: 0;
}

@media (min-width: 55rem) {
  .sidebar h4 {
    font-size: var(--font-size);
  }
}

.sidebar a {
  display: inline-block;
  margin-bottom: var(--cs-rhythm-half);
}

/*
  2.3: Homepage Layout
*/

.layout-homepage {
  display: grid;
  grid-template-areas: "promoted promoted recent"
                       "featured basics categories";
  grid-template-columns: 1fr 1fr 1fr;
}

.area-promoted {
  grid-area: promoted;
}

.area-recent {
  grid-area: recent;
}

.area-featured {
  grid-area: featured;
}

.area-basics {
  grid-area: basics;
}

.area-categories {
  grid-area: categories;
}

/*
  3: Post Lists
*/  

.snippet {
  margin-bottom: var(--cs-rhythm);
  position: relative;
}

.snippet:last-child {
  margin-bottom: 0;
}

.snippet::after {
  border-bottom: 1px solid var(--gray5);
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(-1 * var(--gutter-width));
  right: 0;
}

.snippet:last-child::after {
  content: none;
}

/*
  4: Posts
*/

.post {
  margin-bottom: var(--cs-rhythm-double);
}
