---
layout: default
---

<section class="wrapper"> 

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
      <ul class="archive-list">
      {% assign date = currentdate %}
    {% endif %}

    <li>
      {% include blog/short_snippet.html post=post %}
    </li>
   

    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
</section>


