@import "variables";

html.grid--is_active{
  background: url(http://basehold.it/i/24) repeat left top;

  @media (min-width: 960px){
    background: url(http://basehold.it/i/30) repeat left top;
  }
}

.kss-modifier-title{
  color: $gray3;
}


header{
  background-color: $primary;
  color: $white;
  padding: 0 1rem;
}

header h3{
  font-size: $font-size--large;
  padding: 0;
}

header a{
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active{
    color: $white;
    text-decoration: none;
  }
}


nav{
  border-bottom: 1px solid $gray5;
  margin-top: -1px;
  padding: 1.2rem;
  text-align: center;
}

nav ul{
  padding: 0;
}

nav li{
  padding: 0 1.5rem;
  display: inline-block;
}
