<nav class="site-nav grid">
    {% assign pages = site.pages | sort: "weight" %}
    {% for node in pages %}
        {% if node.title and node.weight != 0 %}
            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}
            {% if node_url_parts_size == 2 %}
                {% if page.url == node.url %}
                    <div class="nav-item-wrapper">
                        <a href='{{node.url}}' class='nav-item active {{node.nav-class}}'>{{node.title}}</a>
                    </div>
                {% else %}
                    <div class="nav-item-wrapper">
                        <a href='{{node.url}}' class='nav-item {{node.nav-class}}'>{{node.title}}</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</nav>
