{% for node in site.pages %}
  {% assign current = page.url | split: '/' %}
  {% assign parent = node.url | split: '/' %}
  {% assign node_url_parts_size = node.url | split: '/' | size %}

  {% if node_url_parts_size > 2 and current[1] == parent[1] %}
    {% assign has_children = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_children %}
  <nav class="site-sub-nav">
    {% for node in site.pages %}
      {% if node.title %}
        {% assign current = page.url | split: '/' %}
        {% assign parent = node.url | split: '/' %}
        {% assign node_url_parts_size = node.url | split: '/' | size %}

        {% if node_url_parts_size == 3 and current[1] == parent[1] %}
          <a href='{{node.url}}'>{{node.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}
