/*

Buttons

Buttons and their variations

Markup:
<button class="button {{modifier_class}}">Button</button>

.-secondary - A button with secondary colors
.-outlined - An outlined button
.-link - A button that looks like a link
.-large - A large button
.-small - A small button
.-small.-outlined - A small, outlined button

Styleguide 2.0

*/

.button {
    --border-color: transparent;
    --border-color-hover: transparent;
    --border-radius: var(--cs-border-radius);
    --border-thickness: var(--cs-rhythm-twelfth);
    --background-color: var(--cs-color-primary);
    --background-color-hover: var(--cs-color-primary-dark);
    --font-size: var(--cs-font-size);
    --line-height: var(--cs-rhythm);
    --margin: 0 var(--cs-rhythm-twelfth);
    --min-height: calc(2 * var(--cs-rhythm));
    --padding: calc(5 * var(--cs-rhythm-twelfth)) var(--cs-rhythm);
    --text-color: var(--cs-color-white);
    --text-color-hover: var(--cs-color-white);

    align-items: center;
    align-content: center;
    background-color: var(--background-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--font-size);
    justify-content: center;
    line-height: var(--line-height);
    margin: var(--margin);
    max-width: 100%;
    min-height: var(--min-height);
    padding: var(--padding);
    text-align: center;
    transition-duration: 250ms;
    transition-property: all;
    user-select: none;
    width: auto;
    vertical-align: middle;
}

.button:link,
.button:visited {
    color: var(--text-color);
}

.button:focus,
.button:hover {
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
    color: var(--text-color-hover);
}

.button:focus {
    outline: var(--cs-rhythm-twelfth) dotted #f00;
    outline-offset: var(--cs-rhythm-twelfth);
}

.button:active {
    background-color: var(--background-color);
    color: var(--text-color);
}

.button:disabled {
    opacity: .5;
    pointer-events: none;
}

.button::-moz-focus-inner {
    border: 0;
}

.button.-outlined {
    --background-color: transparent;
    --background-color-hover: var(--cs-color-primary-dark);
    --border-color: var(--cs-color-primary);
    --border-color-hover: var(--cs-color-primary-dark);
    --text-color: var(--cs-color-primary);
    --text-color-hover: #fff;
}

.button.-secondary {
    --background-color: #ccc;
    --background-color-hover: #999;
    --border-color: #ccc;
    --border-color-hover: #999;
    --text-color: #333;
    --text-color-hover: #333;
}

.button.-link {
    --background-color: transparent;
    --background-color-hover: transparent;
    --border-color: transparent;
    --border-color-hover: transparent;
    --text-color: var(--cs-color-link);
    --text-color-hover: var(--cs-color-link-hover);
}

.button.-small {
    --cs-sub-rhythm: calc(14 * var(--cs-rhythm-sixteenth));
    --border-thickness: var(--cs-rhythm-sixteenth);
    --font-size: var(--cs-font-size);
    --line-height: var(--cs-line-height);
    --min-height: var(--cs-sub-rhythm);
    --padding: 0 var(--cs-rhythm-half);
    margin-top: calc(-2 * var(--cs-rhythm-sixteenth));
}

.button.-large {
    --border-thickness: var(--cs-rhythm-eighth);
    --font-size: var(--cs-font-size-large);
    --min-height: calc(3 * var(--cs-rhythm));
    --padding: calc(3 * var(--cs-rhythm-eighth)) calc(2 * var(--cs-rhythm));
}
