* {
  --cs-font-family: 'Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
  --cs-font-mono: 'Consolas', 'Monaco', 'Courier New', monospace;

  --cs-font-heading: var(--cs-font-family);
  --cs-font-body: var(--cs-font-family);
  --cs-font-mono: var(--cs-font-mono);

  --cs-border-radius: 4px;

  --cs-color-primary: #ea4c6b;
  --cs-color-primary-dark: #bb3c55;

  --cs-color-link: #4c6bea;
  --cs-color-link-visited: #7c4cea;
  --cs-color-link-hover: #3c55bb;
  --cs-color-link-active: #bb3c55;

  --cs-color-black: #000000;

  --cs-color-gray1: #3c3c3d;
  --cs-color-gray2: #5a5a5b;
  --cs-color-gray3: #7d7d7e;
  --cs-color-gray4: #cdcdce;
  --cs-color-gray5: #dededf;
  --cs-color-gray6: #efeff0;

  --cs-color-white: #ffffff;

  --cs-rhythm: 2rem;
  --cs-rhythm-quadruple: calc(4 * var(--cs-rhythm));
  --cs-rhythm-triple: calc(3 * var(--cs-rhythm));
  --cs-rhythm-double: calc(2 * var(--cs-rhythm));
  --cs-rhythm-half: calc((1/2) * var(--cs-rhythm));
  --cs-rhythm-third: calc((1/3) * var(--cs-rhythm));
  --cs-rhythm-fourth: calc((1/4) * var(--cs-rhythm));
  --cs-rhythm-sixth: calc((1/6) * var(--cs-rhythm));
  --cs-rhythm-eighth: calc((1/8) * var(--cs-rhythm));
  --cs-rhythm-twelfth: calc((1/12) * var(--cs-rhythm));
  --cs-rhythm-sixteenth: calc((1/16) * var(--cs-rhythm));

  --cs-line-height-ratio: 1.4;
  --cs-line-height-interval: .3;

  --cs-font-size: calc(var(--cs-sub-rhythm, var(--cs-rhythm)) / var(--cs-line-height-ratio));
  --cs-line-height: var(--cs-sub-rhythm, var(--cs-rhythm));
}

.rhythm {
  font-size: var(--cs-font-size);
  line-height: var(--cs-line-height);
}

@media (max-width: 65em) {
  * {
    --cs-rhythm: 1.5rem;
  }
}

.new-groove {
  --cs-rhythm: 1.2rem;
}