/*

Forms

Markup:
<form>
    <label class="textfield">
        <span class="label">Name</span>
        <input type="text" />
    </label>
    <label class="radio">
        <input type="radio" name="example" />
        <span class="label">Desktop</span>
    </label>
    <label class="radio">
        <input type="radio" name="example" />
        <span class="label">Mobile</span>
    </label>
    <label for="select" class="select">
        <span class="label">Favorite Ice Cream</span>
        <select name="select">
            <option disabled="disabled" selected="selected">Flavors</option>
            <option>Chocolate</option>
        </select>
    </label>
    <label class="textfield">
        <span class="label">Comments</span>
        <textarea></textarea>
    </label>
    <label class="checkbox">
        <input type="checkbox" />
        <span class="label">I Lied</span>
    </label>
</form>

Styleguide 3.0

*/

/*
    Shared Styles
    All form controls
*/

.radio [disabled],
.checkbox [disabled],
.select [disabled],
.textfield [disabled],
.radio [disabled] + *,
.checkbox [disabled] + *,
.select [disabled] + *,
.textfield [disabled] + *,
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled],
button[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}

/*
    Shared Styles
    Textfield and Select
*/

.textfield,
.select {
    background-color: var(--color-white);
    display: block;
    margin-bottom: var(--rhythm);
    position: relative;
}

.textfield .label,
.select .label {
    background-color: var(--color-white);
    font-size: var(--rhythm-half);
    position: absolute;
    left: var(--rhythm-sixteenth);
    line-height: 1;
    padding: var(--rhythm-fourth);
    right: var(--rhythm-sixteenth);
    top: var(--rhythm-sixteenth);
}

.textfield input,
.textfield textarea,
.select select {
    background-color: transparent;
    border: 1px solid var(--color-gray3);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-top: -2px;
    padding: calc(3 * var(--rhythm-fourth)) var(--rhythm-fourth) var(--rhythm-fourth);
    position: relative;
    width: 100%;
}

.select select {
    z-index: 1;
}

.textfield *:focus,
.select select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 var(--rhythm-sixteenth) var(--rhythm-eigth) 0 var(--color-gray5) inset;
    outline: none;
}

/*

Select

Markup:
<label class="select {{modifier_class}}">
    <select>
        <option disabled="disabled" selected="selected">Select</option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
    <span class="label">Select Label</span>
</label>

Styleguide 3.4

*/

.select .label::after {
    content: '';
    border-left: var(--rhythm-fourth) solid transparent;
    border-right: var(--rhythm-fourth) solid transparent;
    border-top: var(--rhythm-fourth) solid var(--color-gray3);
    height: 0;
    position: absolute;
    right: var(--rhythm-half);
    bottom: calc(-1 * var(--rhythm-third));
    width: 0;
}

.select option[disabled] {
    background-color: var(--color-gray6);
    color: var(--color-gray2);
}

/*
    Shared Styles
    Radio and Checkbox
*/

.radio,
.checkbox {
    cursor: pointer;
    display: inline-block;
    margin-bottom: var(--rhythm);
    padding: 0 var(--rhythm-half) 0 var(--rhythm);
    position: relative;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.radio .label,
.checkbox .label {
    color: var(--color-gray3);
    font-size: var(--rhythm-half);
    line-height: 1;
}

.radio .label::before,
.checkbox .label::before {
    background-color: var(--color-white);
    border: 2px solid var(--color-gray3);
    content: '';
    height: var(--rhythm-half);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--rhythm-half);
}

.radio .label::after,
.checkbox .label::after {
    border: 2px solid transparent;
    content: '';
    height: var(--rhythm-half);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--rhythm-half);
}

.radio input[type=radio]:focus + .label::after,
.checkbox input[type=checkbox]:focus + .label::after {
    outline: var(--rhythm-twelfth) dotted #f00;
    outline-offset: var(--rhythm-twelfth);
}

/*

Radio

Markup:
<label class="radio {{modifier_class}}">
    <input type="radio" />
    <span class="label">Radio</span>
</label>

Styleguide 3.1

*/

.radio .label::before,
.radio .label::after { /* stylelint-disable-line */
    border-radius: var(--rhythm);
}

.radio input[type=radio]:checked + .label::after {
    color: var(--color-primary-dark);
    content: '\26ab';
    text-align: center;
}

/*

Checkbox

Markup:
<label class="checkbox {{modifier_class}}">
    <input type="checkbox" />
    <span class="label">Checkbox</span>
</label>

Styleguide 3.2

*/

.checkbox .label::before,
.checkbox .label::after { /* stylelint-disable-line */
    border-radius: var(--border-radius);
}

.checkbox input[type=checkbox]:checked + .label::after {
    color: var(--color-primary-dark);
    content: '\2714';
    text-align: center;
}

/*

Input and text areas

Markup:
<label class="textfield {{modifier_class}}">
    <span class="label">Input</span>
    <input type="text" />
</label>
<label class="textfield {{modifier_class}}">
    <span class="label">Textarea</span>
    <textarea></textarea>
</label>

Styleguide 3.3

*/

.textfield textarea {
    min-height: calc(4 * var(--rhythm));
}

/* Firefox detection for keeping exact rhythm */
@-moz-document url-prefix() {
    .select {
        margin-top: -2px;
    }
}
