/*

Grid

A simple grid with automatic columns

Markup:
<div class="grid">
    <div>Column</div>
    <div>Column</div>
    <div>Column</div>
    <div>Column</div>
    <div>Column</div>
</div>

Styleguide 4.0

*/

.grid {
    --grid-column-min: 15rem;

    display: grid;
    grid-gap: var(--rhythm);
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(var(--grid-column-min), 1fr)
        );
}
