.button {
  --border-color: transparent;
  --border-color-hover: transparent;
  --border-radius: 4px;
  --border-thickness: 2px;
  --background-color: #216a9e;
  --background-color-hover: #184f76;
  --font-size: 16px;
  --line-height: 1.5;
  --margin: 5px;
  --min-height: 48px;
  --padding: 10px 20px;
  --text-color: #fff;
  --text-color-hover: #fff;

  align-items: center;
  align-content: center;
  background-color: var(--background-color);
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size);
  justify-content: center;
  line-height: var(--line-height);
  min-height: var(--min-height);
  margin: var(--margin);
  max-width: 100%;
  padding: var(--padding);
  text-align: center;
  transition-duration: 250ms;
  transition-property: background-color, border-color, color;
  user-select: none;
  width: auto;
  vertical-align: middle;
}

.button:link,
.button:visited {
  color: var(--text-color);
}

.button:focus,
.button:hover {
  background-color: var(--background-color-hover);
  border-color: var(--border-color-hover);
  color: var(--text-color-hover);
}

.button:focus {
  outline: 2px dotted #999;
  outline-offset: 2px;
}

.button:active {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button:disabled {
  opacity: .5;
  pointer-events: none;
}

.button::-moz-focus-inner {
  border: 0;
}

.button.-outlined {
  --background-color: transparent;
  --background-color-hover: #184f76;
  --border-color: #216a9e;
  --border-color-hover: #184f76;
  --text-color: #216a9e;
  --text-color-hover: #fff;
}

.button.-secondary {
  --background-color: #ccc;
  --background-color-hover: #999;
  --border-color: #ccc;
  --border-color-hover: #999;
  --text-color: #333;
  --text-color-hover: #333;
}

.button.-link {
  --background-color: transparent;
  --background-color-hover: transparent;
  --border-color: transparent;
  --border-color-hover: transparent;
  --text-color: #216a9e;
  --text-color-hover: #184f76;
}

.button.-small {
  --border-thickness: 1px;
  --font-size: 12px;
  --line-height: 1.5;
  --min-height: 32px;
  --padding: 4px 8px;
}

.button.-large {
  --border-thickness: 4px;
  --font-size: 32px;
  --line-height: 1.5;
  --min-height: 72px;
  --padding: 20px 40px;
}