<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include components/toolbar.html %}
    {% include header.html %}

    <main class="page-content">
      <div class="page-header">
        {% if site.data.cats[page.cat].name %}
          {% assign page_title = site.data.cats[page.cat].name %}
        {% else %}
          {% assign page_title = page.title %}
        {% endif %}
        <h1 class="page-title" itemprop="name headline">{{ page_title }}</h1>
      </div>
      <div class="layout-two-column">
        <div class="area-main">
          {{ content }}
        </div>
        <div class="area-sidebar sidebar">
          {% include sidebar.html %}
        </div>
      </div>
    </main>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
