<h2>About</h2>
<p>
When using a CSS Framework, it's really easy to make your website look identical to every other website that uses that framework.
</p>
<p>
Cutestrap aims to provide simple ways to leverage the framework, compared to fighting it, to achieve your design requirements.
</p>
<p>
The Customizer quickly gives you a boilerplate with:
</p>
<ul>
  <li>Theme</li>
  <li>Layout</li>
  <li>Baseline Grid</li>
  <li>Line Height</li>
</ul>
<p>
Layouts are not actually part of Cutestrap because they will likely be the most unique part of your design. CSS Grid is very powerful and the Customizer highlights how the same markup can be used in conjunction with CSS Grid and Cutestrap to give your website flexibility when you need to redesign.
</p>

